<script id="todo_item_template" type="text/x-handlebars-template">
<tr>
  <td>{{created_at}}</td>
  <td>{{text}}</td>
  <td id='complete-item-button'><button class='btn btn-small btn-default'>Complete</button></td>
  <td id='delete-item-button'><button class='btn btn-small btn-default'>Delete</button></td>
</tr>
</script>


<div class='container'>
  <div class='text-center'>
    <h1>To-Do List</h1>

    <form id='new-item-form'>
      <input type="text" placeholder="Type next item here" id='new-item'></input>
      <a href="#" class="btn btn-lg btn-default" id='create-new-item-button'>Create</a>
    </form>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Finished Items</h2>
        <table class='table' id="finished-list"></table>
    </div>
    <div class='col-md-6'>
      <h2>Unfinished Items</h2>
        <table class='table' id="unfinished-list"></table>
    </div>
  </div>
</div>

