<script id="todo_template" type="text/x-handlebars-template">
<tr>
  <td>{{created_at}}</td>
  <td>{{text}}</td>
  <td id='{{id}}'><button class='btn btn-small btn-default complete-button'>Complete</button></td>
  <td id='{{id}}'><button class='btn btn-small btn-danger delete-button'>Delete</button></td>
</tr>
</script>

<script id="complete_template" type="text/x-handlebars-template">
<tr>
  <td>{{created_at}}</td>
  <td>{{completed_at}}</td>
  <td>{{text}}</td>
  <td id='{{id}}'><button class='btn btn-small btn-default undo-button'>Undo</button></td>
  <td id='{{id}}'><button class='btn btn-small btn-danger delete-button'>Delete</button></td>
</tr>
</script>


<div class='container'>
  <div class='text-center'>
    <h1>To-Do List</h1>
      <!-- Busy Spinner -->
    <div id='ajaxSpinnerContainer', class='centered'>
      <img src='https://s3.amazonaws.com/kathleen-todoapp/img/ajax-loader.gif' id='ajaxSpinnerImage' title="Working">
    </div>

    <!--    Show errors, warnings, and happy thoughts -->
    <div id='msg'></div>

    <form id='new-item-form'>
      <input type="text" placeholder="Type next item here" id='new-item'></input>
      <a href="#" class="btn btn-lg btn-default" id='create-new-item-button'>Create</a>
    </form>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Finished Items</h2>
        <table class='table' id="finished-list"></table>
    </div>
    <div class='col-md-6'>
      <h2>Unfinished Items</h2>
        <table class='table' id="unfinished-list"></table>
    </div>
  </div>
</div>



